<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bootstrap Demo</h1>
    We will modify this page ...
  </body>
</html>
